html,body{height:100%;}
*{margin:0;padding:0;font-family:robotoregular;font-size:1vw;}
/*
    general
*/
body
{
    background: green;
}
button
{
    position: absolute;
    width:    4vw;
    height:   2vw;
}
#drawButton
{
    top:      12vw;
    left:      2vw;
}
#resetButton
{
    top:      12vw;
    left:      7vw;
}
/*
    kaarten
*/
#kaartenVlak
{
    height: 20vw;
}
.kaart
{
    position:  absolute;
    width:     20vw;
    top:        6vw;
    transform: translate(-50%,-50%);
}
#cardSelector
{
    position:         absolute;
    width:            7.5vw;
    height:           9.6vw;
    top:              6vw;
    left:             6vw;
    transform:        translate(-50%,-50%);
    border:           0.2vw solid blue;
    border-radius:    0.5vw;
    background-color: rgba(0,0,200,0.6);
    visibility:       hidden;
}
/*
    license
*/
#cardsSvgLicense
{
    margin: 50px;
}
#cardsSvgLicense p
{
    font-size: 0.5em;
}
#cardsSvgLicense h1
{
    font-size:  0.6em;
    font-style: normal;
}
/*
#id
.class
*/
